@font-face {
  font-family: "iconfont"; /* Project id 2520908 */
  src: url('iconfont.eot?t=1620094249252'); /* IE9 */
  src: url('iconfont.eot?t=1620094249252#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1620094249252') format('woff2'),
       url('iconfont.woff?t=1620094249252') format('woff'),
       url('iconfont.ttf?t=1620094249252') format('truetype'),
       url('iconfont.svg?t=1620094249252#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e6be";
}

.icon-lianhe4:before {
  content: "\e669";
}

.icon-tag1:before {
  content: "\eaf1";
}

.icon-leimupinleifenleileibie2:before {
  content: "\e7f8";
}

.icon-guidang:before {
  content: "\e619";
}

.icon-sun:before {
  content: "\e668";
}

.icon-list:before {
  content: "\e697";
}

.icon-Loading:before {
  content: "\e639";
}

.icon-home:before {
  content: "\e89c";
}

.icon-moon:before {
  content: "\e62c";
}

.icon-rss:before {
  content: "\e63a";
}

.icon-OOjs_UI_icon_search-ltr:before {
  content: "\e60e";
}

.icon-sword:before {
  content: "\e890";
}

